:host {
  width: 100%;

  .history-container {
    background-color: var(--background-color-secondary);
    border-radius: var(--border-radius);
    color: var(--font-color);

    height: 100vh;
    overflow: auto;
    width: 100%;

    .history {
      padding: var(--padding);

      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}
