:host {
  background-color: var(--background-color-secondary);
  border-radius: var(--border-radius);

  display: block;
  height: 100%;
}
.live-preview {
  border-radius: var(--border-radius);

  height: 100%;
  width: 100%;
  object-fit: cover;
}
