/* You can add global styles to this file, and also import other style files */
$background-color-primary: #000000;
$background-color-secondary: #2c2c2c;
$padding: 25px;
$border-radius: 10px;
$font-color: #ffffff;

body {
  margin: 0;
  background-color: $background-color-primary;
}
.container {
  display: flex;
  height: 100vh;
}

.video {
  flex: 9;
  height: 100vh;
}

.history {
  flex: 3;
  height: 100vh;
}

// @media (max-width: 800px) {
//     flex-direction: row;
//   }
// }

// $button-background-color: #5061d0;
// $button-content-color: #ffffff;
// $button-content-stroke-color: #ffffff;

$button-background-color: red;
$button-content-color: red;
$button-content-stroke-color: red;

:root {
  --button-background-color: #{$button-background-color};
  --button-content-color: #{$button-content-color};
  --button-content-stroke-color: #{$button-content-stroke-color};

  --background-color-primary: #{$background-color-primary};
  --background-color-secondary: #{$background-color-secondary};
  --padding: #{$padding};
  --border-radius: #{$border-radius};
  --font-color: #{$font-color};
}
