.snippet {
  color: var(--font-color);
  width: 100%;
  position: relative;
  user-select: none;

  .remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--font-color);
    .trash {
      width: 28px !important;
      height: 28px !important;
    }
    z-index: 1000;
  }

  .thumbnail {
    border-radius: var(--border-radius);
    width: 100%;
    transition: box-shadow 0.3s ease;

    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .details-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    pointer-events: none;
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
    }
  }
}
