:host {
  position: absolute;
  display: block;
  width: 100%;
}
.control-panel-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  bottom: 3rem;
  width: 100%;
}
